<tr class="drink-list-item" data-cocktail-id="<%= cocktail.id %>">
    <td class="drink-list-item-cell item-cell-name">
        <%= cocktail.name %>
    </td>
    <td class="drink-list-item-cell item-cell-type">
        <%= cocktail.type %>
    </td>
    <td class="drink-list-item-cell item-cell-action">
        <span class="material-icons">
            arrow_right_alt
        </span>
    </td>
</tr>
